<div class="card">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>

<div class="card highlight">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<a href="/ask">Ask a new question</a>
