<p>Ask your coach anything: </p>

<form action="/answer">
  <input type="text" name="question" class="textbox rounded-border-left">
  <input type="submit" value="Ask!" class="submit rounded-border-right">
</form>
